<div class="content_app_render">
    <section class="block-saleoff-product pt-5 mb-3 onshop-block-hot-product">
        <div class="container">
            <h2 class="block-title header-font mb-4 pt-3"><span>{{name}}</span></h2>
            <a href="{{ link_app_demo.href }}">
                <div class="block-content row" style="width: 100%;height: 150px;background: #CCC;">

                </div>
            </a><!-- End block-content -->
        </div> <!-- End container -->
    </section>
</div>

